body {
  background: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title-page, .page {
  background: #fff;
  border-left: solid #000 60px;
  border-right: solid #000 60px;
  margin: 60px auto;
  max-width: 900px;
  min-width: 400px;
  padding: 30px;
  position: relative;
}

.issue {
  display: inline-block;
  margin: 20px;
}

.issue:hover {
  cursor: pointer;
}

.issue img {
  border: 2px solid transparent;
  max-width: 400px;
}

.issue:hover img, .issue:active img {
  border: 2px solid #000;
  filter: invert(1);
}

.home {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url('cc.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 38px;
  opacity: 0.2;
}

.back-arrow, .forward-arrow {
  background-repeat: no-repeat;
  background-size: 30px 43px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.back-arrow {
  left: -50px;
  background-position: left 0 top 200px;
}

.back-arrow:hover {
  background-image: url('left.png');
}

.forward-arrow {
  right: -50px;
  background-position: right 0 top 200px;
}

.forward-arrow:hover {
  background-image: url('right.png');
}

.cell {
  width: 100%;
  vertical-align: middle;
}

.stretchy {
  display: inline-block;
  height: 400px;
  vertical-align: middle;
  width: 0;
}
