body {
  background: #000;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: arial, sans-serif;
}

h2.sub {
  font-weight: normal;
  margin: 40px;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 520px;
}

.title-page, .page {
  background: #fff;
  border: 1px solid #000;
  margin: 60px;
  padding: 30px;
  position: relative;
  border-image: url(border.png) 5 5 5 5 repeat repeat;
}

.book {
  border-radius: 20px;
  margin: 20px 0;
  width: 400px;
}

a.book-link {
  background: #000;
  color: #fff;
  display: block;
  font-size: 20px;
  margin: 30px auto 60px;
  padding: 25px 50px 0;
  text-decoration: none;
  position: relative;
  filter: invert(1);
  width: 400px;
  border: 1px solid transparent;
}

a.book-link::after {
  content: '';
  display: block;
  margin: 20px 0 0;
  border-bottom: 1px solid #333;
}

a.book-link:hover::after {
  border-bottom-color: transparent;
}

a.book-link:hover {
  background: #fff;
  color: #111;
  border-image: url(border.png) 5 5 5 5 repeat repeat;
}

.book-link img {
  display: inline-block;
  height: 25px;
  margin-left: -25px;
  vertical-align: middle;
}

.book-link:hover img {
  filter: invert(1);
}

.book-name {
  font-weight: bold;
  display: block;
}

.submit-button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 10px 30px;
  padding: 15px 25px;
  text-decoration: underline;
}

.submit-button:hover {
  filter: invert(1);
  border-image: url(border.png) 5 5 5 5 repeat repeat;
}

.issue {
  display: inline-block;
  margin: 20px;
}

.issue:hover {
  cursor: pointer;
}

.issue img {
  border: 1px solid transparent;
  max-width: 400px;
}

.issue:hover img, .issue:active img {
  filter: invert(1);
  border-image: url(border.png) 5 5 5 5 repeat repeat;
}

.home {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url('cc.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 38px;
  opacity: 0.2;
}

.back-arrow, .forward-arrow {
  background-repeat: no-repeat;
  background-size: 30px 43px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.back-arrow {
  background-image: url('left.png');
  background-position: left 0 top 200px;
  left: -50px;
  opacity: .3;
}

.back-arrow:hover {
  opacity: 1;
}

.forward-arrow {
  background-image: url('right.png');
  background-position: right 0 top 200px;
  right: -50px;
  opacity: .3;
}

.forward-arrow:hover {
  opacity: 1;
}

.cell {
  max-width: 700px;
  width: 100%;
  vertical-align: middle;
}

.cell.wide {
  max-width: 100%;
  width: auto;
  max-height: 700px;
}

.stretchy {
  display: inline-block;
  height: 400px;
  vertical-align: middle;
  width: 0;
}
